/* 横並び */
.faculty, .students {
  display: flex;
  flex-wrap: wrap;
}

/* カード */
.card {
  text-align: center;
  margin: 10px;
}

/* 教員 */
.faculty-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 0; /* 四角にする */
}

/* 学生 */
.student-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 0; /* 四角にする */
}

/* 役職 */
.role {
  font-size: 0.8em;
  color: gray;
  margin-top: 3px;
}