/* 横並び */
.faculty, .students {
  display: flex;
  flex-wrap: wrap;
}

/* カード */
.card {
  text-align: center;
  margin: 10px;
}

/* 教員 */
.faculty-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 0; /* 四角にする */
}

/* 学生 */
.student-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 0; /* 四角にする */
}

/* 名前 */
.name {
  position: static; /* 重ね表示を解除 */
  display: block;
  margin-top: 5px;
  color: black;
  font-size: 10px;
  font-weight: bold;
  transform: none;
}

/* 役職 */
.role {
  font-size: 0.8em;
  color: gray;
  margin-top: 3px;
}

.faculty-card img,
.student-card img {
    border-radius: 0 !important;
}