/* 横並び */
.faculty, .students {
  display: flex;
  flex-wrap: wrap;
}

/* カード */
.card {
  text-align: center;
  margin: 10px;
}

/* 教員 */
.faculty-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 0; /* 四角にする */
}

/* 学生 */
.student-card img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 0; /* 四角にする */
}

/* 名前 */
.name {
  position: static; /* 重ね表示を解除 */
  display: block;
  margin-top: 5px;
  color: black;
  font-size: 10px;
  font-weight: bold;
  transform: none;
}

/* 役職 */
.role {
  font-size: 0.8em;
  color: gray;
  margin-top: 3px;
}

.faculty-card img,
.student-card img {
    border-radius: 0 !important;
}

.hero-slider {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.hero-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.hero-slider img.active {
  opacity: 1;
}

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url('/FMS_HP/images/bg1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.08; /* 数値を調整 */
    z-index: -1;
}